.about {

  // background-color: #4ead51;
  // color: #fff;
  // color:#f00;

  overflow-y: scroll;
  max-height: 91vh;

  h1 {
    font-weight: 300;
  }

  h5 {
    font-weight: 300;
  }



  .example{
    // color:blue;
  }
}
