body {
  font-family: 'Roboto';
  // font-size-adjust: 0.8;
  // font-weight: 300;

  // overflow-y: hidden;
}


.m-0 {
  margin:0px !important;
}


.light-text {
  font-weight: 300;
}


.larger {
  font-size: 1.2rem;
}


.help-icon {
  z-index: 11099;
  cursor:pointer;
  position: relative;
  bottom: -35px;
  color:#ccc;
  right: 10px;
}

.help-icon:hover {
  color:#3590f3;
}
