.insights {
  color: #fff;
  background-color: #3590F3;

  .insight-title {
    margin-bottom:-5px;
  }
  .percentage {
    // font-size: 15px;
    font-weight: 700;
    margin-left: -17px;
    margin-top: 7px;
  }
}
