$color: #3590f3;
$font: 'Roboto';

.leaflet-tooltip {
  font-family: $font;
  margin-bottom: 10px;
  color: $color;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 0px;
}

.leaflet-tooltip-top {
  margin-top: -20px;
}
.leaflet-tooltip-text {
  color: #888;
  font-weight: 300;
}

.leaflet-tooltip-top:before {
    bottom: 0;
    margin-bottom: -12px;
    border-top-color: rgba(255,255,255,1);
}

.download-icon{
  margin-top:8px;
}
// 123, 182, 247 -border
// 53, 144, 243 -circle
.custom-popup-header {
  font-family: $font;
  color:$color;
  // background-color: $color;
  border-bottom: 1px solid #ccc;
  padding-right: 20px;
  padding-bottom: 10px;
}

.amenity-name{
  // color: #c3c3c3
  margin: 0;
}

.amenity-nepali-name {

margin: 0;
color: #888;
}

.leaflet-popup-content {
    padding-right: 10px;
}

.custom-popup-content {
  font-family: $font;
  max-height:200;
  overflow-y: scroll;

  td {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  .td-hoverable {
    cursor:pointer;
  }


    .td-hoverable:hover {
      text-decoration: underline;
      color: $color;
    }

  p {
    margin:0 !important
  }

  br {
    margin-bottom: 0.5em !important;
  }
}



.leaflet-container {
  background-color: #001518;
}


/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #fff;
    // padding: 0;
    // color: #ffffff;
    border-radius: 0;
    font-family: 'Roboto';
    font-size: 1rem;
}


.custom .leaflet-popup-scrolled {
  border:none;
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}



.marker-cluster-small {
	background-color: rgba(123, 182, 247, 0.6);

	}

.marker-cluster > div > span {
	font-family: 'Noto Sans';
}

.marker-cluster-small div {
	background-color: rgba(53, 144, 243, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(123, 182, 247, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(53, 144, 243, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(123, 182, 247, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(53, 144, 243, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(123, 182, 247);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(53, 144, 243);
	}

	.leaflet-oldie .marker-cluster-medium {
		background-color: rgb(123, 182, 247);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(53, 144, 243);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(123, 182, 247);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(53, 144, 243);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	color:#fff;
	text-align: center;
	border-radius: 15px;
	font: 14px "Noto Sans";
	}
.marker-cluster span {
	line-height: 30px;

	}


//materia style IconButton
.popup-btn {
  // position: relative;
  font-family: 'Roboto';

  display: block;
  margin: 20px 0px;
  padding: 5px;


  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: $color;
  color: #ecf0f1;
  font-weight: 300;
  font-size: 0.8rem;

  transition: background-color .8s;
  width:100%;
}

.popup-btn:hover, .popup-btn:focus {
  background-color: darken($color, 5%);
}

.popup-btn > * {
  position: relative;
}

.popup-btn span {
  display: block;
  padding: 12px 24px;
}

.popup-btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup-btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}


// popup close button style
.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 4px 0 0;
    border: none;
    text-align: center;
    width: 30px;
    height: 14px;
    font: 20px/14px Roboto, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
